body
  font-family Arial, Helvetica, sans-serif
  font-size 14px
  background $color-bg
  font-weight 100
.hide
  opacity 0
  visibility hidden

.img-responsive
  display block
  width 100%
  height auto

h1,
h2,
h3,
h4,
h5,
h6,
p
  margin 0

.text-right
  text-align right

.reticence
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

.legend
  margin-bottom: 30px;
