.header
  background #747474
  color $color-white
  margin-bottom 15px
  .content-header
      height 50px
  .link
    text-decoration underline
    &:hover
      text-decoration none
      cursor pointer
.brand
  a
    color $color-white
    text-decoration none
