.play-video
  video
    margin 0 auto
  h3
    margin-bottom 10px

.player-legend
  list-style none
  margin 0
  li
    display inline-block
    margin-left 10px
    font-size 16px
    &:first-child
      margin-left 0
    small
      font-size 12px

