.all-videos
  width calc(100% - 9px)
  overflow-x scroll
  overflow-y hidden
  white-space nowrap
  height 400px

  a
  &:active,
  &:hover,
  &:focus,
  &:visited
    color $color-black
  a
  &:first-child
    margin-left 10px

.video
  display inline-block
  transition all .2s ease-in-out
  width 200px
  height 320px
  &:hover,
  &:focus
    transform scale(1.1)

.video-title
  font-size 14px
  font-weight 100

.video-cover
  margin-bottom 15px

.all-videos-history
  position absolute
  right 0
  background $color-white
  padding 30px
  top 50px
  z-index 3
  transition 0.5s
  width 100px
  overflow-x hidden
  a
    margin 0
  .video-history
    width 100px
    margin-bottom 30px
